.fa-angle-left {
    margin-left: 20px;
}

    .fa-angle-left:before {
        content: "\f104"
    }

.fa-angle-right {
    margin-right: 20px;
}

    .fa-angle-right:before {
        content: "\f105"
    }

.parallax {
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    padding: 0px;
    position: relative;
    width: 100%;
}

    .parallax.parallax-off {
        background-attachment: scroll !important;
        display: block;
        height: 100%;
        min-height: 100%;
        overflow: hidden;
        position: relative;
        background-position: center center;
        vertical-align: sub;
        width: 100%;
        z-index: 2;
    }

.parallax-off::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    left: 0px;
    top: 0px;
}


.no-scroll-xy {
    overflow: hidden !important;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.section {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 70px 0;
}

.noover {
    overflow: visible;
}

    .noover .btn-dark {
        border: 0 !important;
    }

.nopad {
    padding: 0;
}

.nopadtop {
    padding-top: 0;
}

.section.wb {
    background-color: #ffffff;
}

.section.lb {
    background-color: #f2f3f5;
}

.section.db {
    background-color: #1f1f1f;
}

.section.color1 {
    background-color: #448AFF;
}

.first-section {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 16em 0 13em;
}

    .first-section::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: #000000;
    }

    .first-section::before {
        opacity: 0.5;
    }

    .first-section h2 {
        color: #ffffff;
        font-size: 68px;
        font-weight: 300;
        text-transform: capitalize;
        display: block;
        margin: 0;
        padding: 0 0 30px;
        position: relative;
    }

.big-tagline {
    padding: 10px 0px;
    position: relative;
    z-index: 2;
}

.first-section .lead {
    font-size: 21px;
    font-weight: 300;
    padding: 0 0 40px;
    margin: 0;
    line-height: inherit;
    color: #ffffff;
}

.macbookright {
    width: 980px;
    position: absolute;
    right: -15%;
    bottom: -6%;
}

.section-title {
    display: block;
    position: relative;
    margin-bottom: 60px;
}

    .section-title p {
        color: #999;
        font-weight: 400;
        font-size: 18px;
        line-height: 33px;
        margin: 0;
    }

    .section-title h3 {
        font-size: 42px;
        font-weight: 300;
        line-height: 62px;
        margin: 0 0 25px;
        padding: 0;
        text-transform: none;
    }

.section.colorsection p,
.section.colorsection h3,
.section.db h3 {
    color: #ffffff;
}

.our-inner-taem {
    position: relative;
}

    .our-inner-taem .t-top::before {
        position: absolute;
        content: "";
        width: 0px;
        right: 0px;
        top: 0px;
        height: 2px;
        background-color: #000;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }

    .our-inner-taem .t-top::after {
        position: absolute;
        content: "";
        right: 0px;
        top: 0px;
        width: 2px;
        height: 0px;
        background-color: #000;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }


.parallax-inner-bg .section-title small {
    color: #ffffff;
}

.our-inner-taem .t-bottom::before {
    position: absolute;
    content: "";
    width: 0px;
    left: 0px;
    bottom: 0px;
    height: 2px;
    background-color: #000;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.our-inner-taem .t-bottom::after {
    position: absolute;
    content: "";
    left: 0px;
    bottom: 0px;
    width: 2px;
    height: 0px;
    background-color: #000;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.our-inner-taem:hover .t-top::before {
    width: 100%;
}

.our-inner-taem:hover .t-top::after {
    height: 100%;
}


.our-inner-taem:hover .t-bottom::before {
    width: 100%;
}

.our-inner-taem:hover .t-bottom::after {
    height: 100%;
}

.btn-light {
    padding: 13px 40px;
    font-size: 18px;
    border: 2px solid #ffffff;
    border-radius: 50px;
    color: black !important;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    height: 40px;
    line-height: 28px;
    margin-top: 0;
    padding: 6px 35px;
    text-transform: uppercase;
}

    .btn-light:hover,
    .btn-light:focus {
        border-color: rgba(255, 255, 255, 0.6);
        color: #EB6864 !important;
    }

.bootstrap-select > .btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    font-size: 15px;
    height: 33px;
    box-shadow: none !important;
    border: 0 !important;
    padding: 0;
    width: 100%;
    color: #bcbcbc !important;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

a {
    color: #1f1f1f;
    text-decoration: none;
    outline: none;
}

    a img.alignright {
        float: right;
        margin: 10px 0 20px 20px;
    }

    a img.alignnone {
        margin: 10px 20px 20px 0;
    }

    a img.alignleft {
        float: left;
        margin: 10px 20px 20px 0;
    }

    a img.aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto
    }

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #1f1f1f;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a {
        color: #212121;
        text-decoration: none !important;
        opacity: 1
    }

        h1 a:hover,
        h2 a:hover,
        h3 a:hover,
        h4 a:hover,
        h5 a:hover,
        h6 a:hover {
            opacity: .8
        }

.home-hero .big-tagline h2 {
    font-size: 48px;
    color: #ffffff;
    padding: 20px 0px;
}

.home-hero .big-tagline p {
    color: #ffffff;
    padding: 0px 0px 30px 0px;
}

.body-content {
    padding-top: 0px;
}

.slider-01 {
    background: url('../../New/1.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
}

.slider-02 {
    background: url('../../New/2.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
}

.slider-03 {
    background: url('../../New/3.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
}

.home-hero .big-tagline h2 {
    font-size: 22px;
}

.overlay {
    position: relative;
}

    .overlay::before {
        content: "";
        background: rgba(0,0,0,0.8);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        z-index: 0;
    }

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

div.pp_overlay {
    background: #000;
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9500
}


.parallax {
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    padding: 0px;
    position: relative;
    width: 100%;
}

    .parallax.parallax-off {
        background-attachment: scroll !important;
        display: block;
        height: 100%;
        min-height: 100%;
        overflow: hidden;
        position: relative;
        background-position: center center;
        vertical-align: sub;
        width: 100%;
        z-index: 2;
    }

.parallax-off::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    left: 0px;
    top: 0px;
}

.home-hero .big-tagline h2 {
    font-size: 22px;
}

.home-hero .big-tagline h2 {
    font-size: 48px;
    color: #ffffff;
    padding: 20px 0px;
}

.home-hero .big-tagline p {
    color: #ffffff;
    padding: 0px 0px 30px 0px;
}

.home-hero .owl-nav .owl-prev {
    position: absolute;
    left: 0px;
}

    .home-hero .owl-nav .owl-prev:hover i {
        background: #ed2d46;
        color: #ffffff;
    }

.home-hero .owl-nav .owl-next {
    position: absolute;
    right: 0px;
}

    .home-hero .owl-nav .owl-next:hover i {
        background: #ed2d46;
        color: #ffffff;
    }

.text-center {
    text-align: center !important
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}
.web:hover .webanim {
    -webkit-animation: webchange linear 3s infinite;
}

@-webkit-keyframes webchange {
    to {
        transform: rotateY(360deg);
    }
}

.iot:hover .iotanim {
    -webkit-animation: iotchange linear 2s infinite;
}

@-webkit-keyframes iotchange {
    0% {
        content: url(../../New/iot1.png);
    }

    33% {
        content: url(../../New/iot2.png);
    }

    66% {
        content: url(../../New/iot3.png);
    }

    100% {
        content: url(../../New/iot1.png);
    }
}

.robotanim {
    -webkit-animation: robotchange linear 60s 1; /*43200s*/
    animation-fill-mode: forwards;
}

.robot:hover .robotanim {
    content: url(../../New/android-.png);
    animation: none;
}

@-webkit-keyframes robotchange {
    20% {
        content: url(../../New/android2.png);
    }

    60% {
        content: url(../../New/android3.png);
    }

    100% {
        content: url(../../New/android4.png);
    }
}

.colimage {
    display: table;
    margin: 0 auto;
}

.container {
    width: 100% !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin: 0px !important;
    align-self: center !important;
    max-width: 100% !important;
}